/* @import './base.css'; */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {

	background: black;

	font-family:
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow: clip;
}



.mac-bar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.mac-bar::-webkit-scrollbar-thumb {
	background: rgba(230, 230, 230, 0.5);
	border-radius: 4px;
}
.mac-bar::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

